[Desktop Entry]
Name=Next wallpaper slide
Comment=In slideshow mode switched wallpaper image to next slide
Encoding=UTF-8
Icon=preferences-desktop-wallpaper
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-ParentApp=org.kde.slideshow
X-KDE-PluginInfo-Author=Kosma
X-KDE-PluginInfo-Email=oversider_kosma@mail.ru
X-KDE-PluginInfo-Name=kosma.kde.plasma.nextwallpaperslide
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Version=2.1
X-KDE-PluginInfo-Website=https://github.com/oversider-kosma/plasma-nextwallpaperslide
X-KDE-PluginInfo-Category=Utilities
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
